html, body {
    height: 100%;
    margin: 0;
}

#map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

#info {
    position: absolute;
    right: 0;
    top: 0;

    width: 23vw;
    height: 100vh;
    background-color: beige;
    z-index: 1;

    visibility: hidden;
}

.margin-5 {
    margin: 5px;
}